<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd ">
    <context:component-scan base-package="com.aop.annotationAop"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
<!--    <bean id="targetClass" class="com.aop.annotationAop.TargetClass"/>-->
<!--    <bean id="myInterceptor" class="com.aop.annotationAop.MyInterceptor"/>-->

<!--    <aop:config>-->
<!--        <aop:aspect id="aspect" ref="myInterceptor">-->
<!--            <aop:pointcut id="point" expression="execution(* com.aop.annotationAop.TargetClass.*(..))"/>-->
<!--            <aop:before method="doAccessCheck" pointcut-ref="point"/>-->
<!--            <aop:after-returning method="doAfterReturning" pointcut-ref="point"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
</beans>