<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:bean="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <context:annotation-config/>
    <bean id="moocAspect" class="com.aop.MoocAspect"/>
    <bean id="aspectBiz" class="com.aop.AspectBiz"/>
    <aop:config>
        <aop:aspect id="moodAspect" ref="moocAspect">
            <aop:pointcut id="moocPointCut" expression="execution(* com.aop.AspectBiz.*(..))"/>
            <aop:before method="before" pointcut-ref="moocPointCut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="moocPointCut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="moocPointCut"/>
            <aop:after method="after" pointcut-ref="moocPointCut"/>

            <aop:around method="around" pointcut-ref="moocPointCut"/>
            <aop:around method="aroundInit" pointcut="execution(* com.aop.AspectBiz.init(String,int))
             and args(bizName,times)"/>

            <aop:declare-parents types-matching="com.aop.AspectBiz+"
                                 implement-interface="com.aop.Fit"
                                 default-impl="com.aop.FitImpl"/>
        </aop:aspect>
    </aop:config>
<!--    <context:component-scan base-package="com.aop.service"/>-->
<!--    <bean id = "concurrentOperationExecutor" class="com.aop.ConcurrentOperationExecutor">-->
<!--        <property name="maxRetries" value="3"/>-->
<!--        <property name="order" value="100"/>-->
<!--     </bean>-->

<!--    <aop:config>-->
<!--        <aop:aspect id="concurrentOperationRetry" ref="concurrentOperationExecutor">-->
<!--            <aop:pointcut id="idempotentOperation" expression="execution(* com.aop.service.*.*(..))"/>-->
<!--            <aop:around method="doConcurrentOperation" pointcut-ref="idempotentOperation"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <!--开启Aspectj 生成代理对象-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>